<html>
<head>

<style type="css/text">
body
{margin-left:1000px;}
</style>
</head>
<title>Activate your Account</title>
<form method="post" action="../controllers/logout.php">
<input type="submit" value="Logout">
</form>
<br><br><br><body style="background-image: url(images.png); color: rgb(0, 0, 0);" alink="#ee0000" link="#0000ee" vlink="#551a8b">
<h1><span style="color: white;">Activate</h1>
<font text color='indigo'><h3>All fields are mandatory</h3></font>
<form action="../controllers/activate.php" method="post">
<fieldset>
<span style="color: white;"> Enter password received by Email:<center><input type="password" name="passwd"/></center> <br>
New password<center> <input type="password" name="newPassword"></center><br>
Retype new password<center><input type="password" name="repeatPassword"></center><br>
Enter a security question<center> <input type="text"  size="50" maxlength="100" name="secuQ"></center><br>
Enter the answer<center> <input type="password"  size="25" maxlength="25" name="secuA"></center>
<br>
<center><input type="submit" value="Activate" ></center>
</form>
</body>
</html>
