<html>
<head>

<style type="css/text">
body
{margin-left:1000px;}
</style>
</head>
<title>GEC-GITRepo</title>
<br><br><br><body style="background-image: url(images.png); color: rgb(0, 0, 0);" alink="#ee0000" link="#0000ee" vlink="#551a8b">
<h2><span style="color: white;">Ceate a new account</h2>
<form action="/lag/controllers/Signup.php" method="post">
<fieldset>
<span style="color: white;"> Your ID Number  <center>  <input type="text" name="idnum"/></center> <br>
<span style="color: white;">Enter your Email ID <center>  <input type="text" name="email" ></center> <br><br>
Current password <center>  <input type="password" name="password_old"></center> <br><br>
New password<center> <input type="password" name="password_new"></center><br><br>
Retype new password<center><input type="password" name="rpassword_"></center><br>
Enter a security question<center> <input type="text"  size="50" maxlength="50" name="securityQ"></center>
Enter the answer<center> <input type="text"  size="50" maxlength="50" name="securityA"></center>
<br>
<input type="submit" value="Submit" >
</form>
</body>
</html>
