<html>
<head><title> Pasword Recovery </title></head>
<style>
body
{
  background-image:url("http://192.168.1.8/views/images.png");
  background-repeat:no-repeat;
}
h2
{
  color:gold;
}
</style>
<body>
<br/><br/><br/><br/>
<h2 align=center> Forgot Password ? </h2>
<form method="post" action="Forgot.php">
<fieldset>
User Name :<center> <input type="text" name="uname"></center><br/><br/>
<center><input type="Submit" name="submit" value="recover"><center></br/><br/>
</fieldset>
</form>
</body>
</html>
