<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
<title>Login</title>
<link rel="shortcut icon" href="icons/key.png">
<style type="text/css">
</style>
</head>
<body style="background-image: url(images.png);" alink="#ee0000" link="#0000ee" vlink="#551a8b">
<h2 style="color: white;">
<span style="font-weight:bold;font-family:Ubuntu;">Academic Project Tracker</span></h2>
<span style="color:white;font-family:Ubuntu;">Govt. Engineering College,Thrissur</span><br><br>
<h2><span style="font-family:Ubuntu;"> </span></h2>
<hr style="width: 100%; height: 2px;">
<h3><span style="font-weight: bold;"></span>
<span style="font-family:Ubuntu"></span><span style="font-family:Ubuntu"></span> 
<h3><fieldset>
<form style=background-color:transparent; method=post action=../controllers/login.php name=Login>
<h2 style="color: white; background-color:transparent;font-family:Ubuntu;">Sign In :</h2>
<span style="color: white;font-family:Ubuntu;">
User Name :<input name=uname  type=text><br><br>
Passsword :</span> <input name=passwd type=password><br>
<input type="submit" value="Login"><br>
<a style='color:yellow;font-family:Ubuntu;' href="About.html"><div align=right>About GECT git repository</div></a>
</form>
</fieldset>
</h3>
</body></html>
