<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
<title>Login</title>
<link rel="shortcut icon" href="icons/key.png">
<style type="text/css">
</style>
</head>
<body bgcolor=#cfcfcf alink="#ee0000" link="#0000ee" vlink="#551a8b">
<h2>
<span style="font-weight:bold;font-family:Ubuntu;">Academic Project Tracker</span></h2>
<span style="font-family:Ubuntu;">Govt. Engineering College,Thrissur</span><br><br>
<div
	style="
	top:0px;
	right:50px;
	position:absolute;
	z-index:1;
	visibility:show;">
	<img src=icons/collegeEmblem.JPG>
</div>
<h2><span style="font-family:Ubuntu;"> </span></h2>
<hr style="width: 100%; height: 2px;">
<h3><span style="font-weight: bold;"></span>
<span style="font-family:Ubuntu"></span><span style="font-family:Ubuntu"></span> 
<h3><fieldset>
<font color='red'>The Username and password you entered doesnt match!!!!!!!</font>
<form style=background-color:transparent; method=post action=../controllers/login.php name=Login>
<h2 style="background-color:transparent;font-family:Ubuntu;">Sign In :</h2>
<span style="font-family:Ubuntu;">
User Name :<input name=uname  type=text><br><br>
Passsword :</span> <input name=passwd type=password><br>
<input type="submit" value='Login' style='height:35px;'><br>
<a style='color:blue;font-family:Ubuntu;' href="About.html"><div align=right>About GECT git repository</div></a>
</form>
</fieldset>
</h3>
<div style='bottom:0px;position:absolute'>
<h6>Copyright(c).All Rights Reserved.GEC TCR LAG 2010-2014</h6></div>
</body></html>
